.page-footer {
    background-color: var(--navy);
    color: var(--white);
    margin-top: auto;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.page-footer a {
    color: var(--white);
    text-decoration: none;
}

.page-footer a:is(:hover, :focus-visible) {
    color: var(--white);
    text-decoration: underline;
}

a.fb-link {
    align-items: center;
    color: #d5e2eb;
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.fb-link .fb-logo {
    padding-right: 0.6rem;
    width: 2.8rem;
}