.section {
    font-size: 1.8rem;
    padding: 8rem 6%;
    text-align: left;
}

.header {
    background: url("../../images/farmhouse-style-bg.png") no-repeat top;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    flex-grow: 1;
    height: max-content;
    min-height: 70rem;
    padding-top: 2rem;
    position: relative;
    text-shadow: 1px 1px 10px var(--dark-navy), 2px 0 5px var(--dark-navy), 0 0 6px orange;
    width: 100%;
}

.introduction {
    background-color: var(--silver);
}

.quote {
    background-color: #dacfb6;
    border: 10px double var(--dark-navy);
    color: var(--dark-navy);
    font-size: 2.4rem;
    padding: 2rem 6% 3rem;
    margin: 0;
    position: relative;
    text-shadow: none;
    width: 100%;
    z-index: 1;
}

.caring {
    /* @TODO: Try to get image to move when scrolling like it was before :) */
    background: url("../../images/boy-with-wings.jpg") no-repeat center; 
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.caring .cursive-font {
    transition: color 0.5s ease;
}

.caring .cursive-font:hover {
    color: var(--gold);
}

.background-dim-overlay {
    background-color: var(--dark-navy);
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}

.header-content {
    margin: 20rem auto 0;
    max-width: 102rem;
    position: relative;
    text-align: center;
    z-index: 1;
}

.header-content .welcome {
    font-size: 5.5rem;
    line-height: 3rem;
}

.header-content .cursive-font.small {
    line-height: normal;
}

.welcome-message {
    font-size: 7rem;
    margin: 0 0 10rem;
}

@media screen and (max-width: 700px) {
    .header-content .welcome,
    .welcome-message {
        font-size: 5rem;
    }   
}

@media screen and (max-width: 445px) {
    .header-content .welcome,
    .welcome-message {
        font-size: 4rem;
    }   

    .small {
        font-size: 3.5rem;
    }

    .page-header-topbar .company-name {
        font-size: 2rem;
    }

    .page-header-topbar .logo {
        width: 5rem;
    }
}

.contact {
    background-color: #dacfb6;
    border: 10px double var(--dark-navy);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact .contact-text {
    margin-left: 2rem;
    max-width: 100%;
    width: 50%;
}

.contact .contact-text h2 {
    margin-top: 0;
}

.contact .contact-today-text {
    margin-bottom: 4rem;
}

.contact .schedule-now {
    background-color: #fadc98;
    border-radius: 2.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: var(--dark-navy);
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    padding: 13px 29px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.contact .schedule-now:hover {
    background-color: var(--gold);
    text-decoration: underline;
}

.contact .helping-hand-img {
    object-fit: cover;
    object-position: top;
    width: 45%;
    max-height: 30rem;
}

@media screen and (max-width: 491px) {
    .contact .helping-hand-img,
    .contact .contact-text {
        width: 100%;
    }

    .contact .contact-text {
        margin-top: 2rem;
    }
}