.page-header-topbar {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
    width: 100%;
}

.logo {
    color: white;
    height: 6.8rem;
    width: 6.8rem;
}

.company-name {
    font-weight: 600;
    margin: 0;
    margin-right: auto;
}

.top-navigation {
    display: inline-flex;
    gap: 1.8rem;
}

.top-navigation a {
    color: white;
    text-decoration: none;
}

.top-navigation a:hover {
    color: orange;
}