.page-header-topbar {
    align-items: center;
    color: white;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    left: 0;
    padding: 1rem 3% 1.6rem;
    position: fixed;
    width: calc(100% - 6%);
    top: 0;
    text-shadow: none;
    z-index: 10;
}

.page-header-topbar .background-dim-overlay {
    opacity: 1;
    z-index: -1;
}

.logo {
    color: white;
    width: 5.5rem;
}

.company-name {
    font-weight: 600;
    margin: 0 0 0 1.6rem;
    margin-right: auto;
    max-width: 70%;
    text-wrap: balance;
}

.top-navigation {
    display: inline-flex;
    gap: 2.4rem;
}

.top-navigation a {
    color: white;
    text-decoration: none;
}

.top-navigation a:hover {
    color: var(--gold);
}