.expandable-container {
    width: 80%;
}

.expandable-container .expandable-header {
    background-color: white;
    border-radius: 3px;
    display: inline-flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}

.expandable-container.closed .expandable-contents {
    display: none;
}