.expandable-container {
    position: relative;
    width: 40%;
}

.expandable-container .expandable-header {
    background-color: var(--off-white);
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.4rem;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    width: 100%;
}

.expandable-container:not(.closed) .expandable-header {
    z-index: 2;
}

.expandable-container:not(.closed) .expandable-header,
.expandable-container .expandable-header:is(:hover, :focus-visible) {
    background: var(--light-gold);
}

.expandable-container .expandable-contents {
    background-color: var(--light-gold);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border: 1px solid var(--navy);
    display: flex;
    margin-top: -2px;
    padding: 1rem 2rem;
    position: absolute;
    z-index: 1;
}