:root {
  --gold: #ffbf2f;
  --gray: #757575;
  --navy: #282c34;
  --silver: #E1E1E1;
  --dark-navy: #101323;
}

html {
  font-size: 10px;
}

.cursive-font {
  font-family: 'Great Vibes', cursive;
  font-size: 5.5rem;
}

.cursive-font.small {
  font-size: 4rem;
}

.handwriting-font {
  font-family: "Charm", cursive;
}

.App {
  /* font-family: "Plus Jakarta Sans"; */
  font-size: 1.3rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--navy);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.large {
  font-size: 2.4rem;
}

.medium {
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
